.mapContainer {
    display: flex;
    justify-content: center;
    font-weight: bold;  
    text-align: center
  }
  .map {
    flex:2 1 auto;  
  }
  .routeList {
    color: #083a8c;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .routeList button{
    width: 75%;
  }

  .filter
  { 
    color: #083a8c;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .active {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }