
.navbar
  { 
    margin: auto;
    width: 100%;  
    padding: 10px;
    background-color: white;
  }

  .toolbar
  { 
    background-color: white; 
    width: max;
  }

  .logo
  { 
    
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  @media (min-width: 600px)
  { 
    .hamburger
    { 
      display: none;
    }

  }

  @media (max-width: 600px)
  { 
    .toolbar
    { 
      display: none;
    }      

    .hamburger
    { 
      display: flex;
    }

  }